#!/usr/bin/env bash
use nix

# Watch for changes in the following files
watch_file nixkell.toml
watch_file package.yaml
watch_file nix/*

# Link the shell path (set in shell.nix) into .direnv
mkdir -p "$(direnv_layout_dir)"
rm -f "$(direnv_layout_dir)/shell"
ln -s "$DEVSHELL_PATH" "$(direnv_layout_dir)/shell"

if [[ -f .envrc.private ]]; then
  source .envrc.private
fi
